<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byung8.mydiet.mapper.ExerciseParamMapper">

	<select id="findExerciseParamsByName" parameterType="java.lang.String" resultType="com.byung8.mydiet.domain.ExerciseParam">
		SELECT
		  a.PRM_ID as paramId
		, a.PRM_NM as paramName
		, a.PRM_NM_ENG as paramNameEng
		, a.FS_DTL as description
		, a.PRM_VAL as paramVal
		, a.AMT_UNT_ID as amountUnitId
		, (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.AMT_UNT_ID=b.CD_ID AND b.GRP_VAL='05') as amountUnitName
		, a.ANT_UNT_VAL amountUnitVal
		, a.USE_YN as useYn
		, a.REG_DT as regDt
		, a.UDP_DT as udpDt
		FROM TB_EXC_PARM a
		WHERE a.USE_YN='Y'
		AND a.PRM_NM  LIKE CONCAT('%','${value}','%')
	</select>
	
	<select id="findExerciseAll" resultType="com.byung8.mydiet.domain.ExerciseParam">
		SELECT
		  a.PRM_ID as paramId
		, a.PRM_NM as paramName
		, a.PRM_NM_ENG as paramNameEng
		, a.FS_DTL as description
		, a.PRM_VAL as paramVal
		, a.AMT_UNT_ID as amountUnitId
		, (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.AMT_UNT_ID=b.CD_ID AND b.GRP_VAL='05') as amountUnitName
		, a.ANT_UNT_VAL amountUnitVal
		, a.USE_YN as useYn
		, a.REG_DT as regDt
		, a.UDP_DT as udpDt
		FROM TB_EXC_PARM a
		WHERE a.USE_YN='Y'
	</select>
	
	<select id="findExerciseParamById" parameterType="int" resultType="com.byung8.mydiet.domain.ExerciseParam">
		SELECT
		  a.PRM_ID as paramId
		, a.PRM_NM as paramName
		, a.PRM_NM_ENG as paramNameEng
		, a.FS_DTL as description
		, a.PRM_VAL as paramVal
		, a.AMT_UNT_ID as amountUnitId
		, (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.AMT_UNT_ID=b.CD_ID AND b.GRP_VAL='05') as amountUnitName
		, a.ANT_UNT_VAL amountUnitVal
		, a.USE_YN as useYn
		, a.REG_DT as regDt
		, a.UDP_DT as udpDt
		FROM TB_EXC_PARM a
		WHERE a.USE_YN='Y'
		AND a.PRM_ID = ${value}
	</select>
	
	<select id="findExerciseAllParams" resultType="com.byung8.mydiet.domain.ExerciseParam">
		SELECT
		  a.PRM_ID as paramId
		, a.PRM_NM as paramName
		, a.PRM_NM_ENG as paramNameEng
		, a.FS_DTL as description
		, a.PRM_VAL as paramVal
		, a.AMT_UNT_ID as amountUnitId
		, (SELECT b.CD_NM FROM TB_CMM_CD b WHERE a.AMT_UNT_ID=b.CD_ID AND b.GRP_VAL='05') as amountUnitName
		, a.ANT_UNT_VAL amountUnitVal
		, a.USE_YN as useYn
		, a.REG_DT as regDt
		, a.UDP_DT as udpDt
		FROM TB_EXC_PARM a
		WHERE a.USE_YN='Y'
	</select>
	
	<insert id="registerExerciseParam" parameterType="com.byung8.mydiet.domain.ExerciseParam" >
		INSERT INTO TB_EXC_PARM (
		  PRM_NM
		, PRM_NM_ENG
		, FS_DTL
		, PRM_VAL
		, AMT_UNT_ID
		, ANT_UNT_VAL
		, UDP_DT
		) VALUES (
		  #{paramName}
		, #{paramNameEng}
		, #{description}
		, #{paramVal}
		, #{amountUnitId}
		, #{amountUnitVal}
		, NULL
		)
	</insert>

	<update id="updateExerciseParam" parameterType="com.byung8.mydiet.domain.ExerciseParam">
		UPDATE TB_EXC_PARM
		SET PRM_NM_ENG=${paramNameEng}
		, PRM_NM=${paramName}
		, FS_DTL=${description}
		, PRM_VAL=${PRM_VAL}
		WHERE
		PRM_ID=${paramId}
	</update>

	<update id="updateExerciseParamNotUsed" parameterType="com.byung8.mydiet.domain.ExerciseParam">
		UPDATE TB_EXC_PARM
		SET PRM_NM_ENG=${paramNameEng}
		, PRM_NM=${paramName}
		, FS_DTL=${description}
		, PRM_VAL=${PRM_VAL}
		, USE_YN='N'
		WHERE
		PRM_ID=${paramId}
		AND USE_YN='Y'
	</update>
</mapper>