<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byung8.mydiet.mapper.FitnessUnitMapper">

	<select id="findFsUnitListByType" parameterType="com.byung8.mydiet.domain.FitnessUnit" resultType="com.byung8.mydiet.domain.FitnessUnit">
		SELECT
		  a.FDCL_ID      as fsUnitId 
		, a.FDCL_ENG_NM  as fsUnitNameEng
		, a.FDCL_NM      as fsUnitName
		, a.FD_TP_ID   as fsTypeId
		, (SELECT b.CMM_CD_NM FROM TB_CMM_CD b where a.FD_TP_ID=b.CMM_CD_ID) as fsTypeName
		, a.FD_UNIT_ID  as bsUnitIdId
		, (SELECT b.FS_NM FROM TB_FS_UNIT b where a.FD_UNIT_ID=b.FS_ID) as bsUnitName
		, a.UNT_CL_VAL as bsUnitVal
		, a.USE_YN     as useYn
		, a.REG_DT     as regDt
		, a.UDP_DT     as udpDt
		FROM TB_FS_FDCL a
		WHERE a.USE_YN='Y'
		AND a.FD_TP_ID='${fsTypeId}'
	</select>
	
	<select id="findFsUnitListByTypeAndName" parameterType="com.byung8.mydiet.domain.FitnessUnit" resultType="com.byung8.mydiet.domain.FitnessUnit">
		SELECT
		  a.FDCL_ID      as fsUnitId 
		, a.FDCL_ENG_NM  as fsUnitNameEng
		, a.FDCL_NM      as fsUnitName
		, a.FD_TP_ID   as fsTypeId
		, (SELECT b.CMM_CD_NM FROM TB_CMM_CD b where a.FD_TP_ID=b.CMM_CD_ID) as fsTypeName
		, a.FD_UNIT_ID  as bsUnitIdId
		, (SELECT b.FS_NM FROM TB_FS_UNIT b where a.FD_UNIT_ID=b.FS_ID) as bsUnitName
		, a.UNT_CL_VAL as bsUnitVal
		, a.USE_YN     as useYn
		, a.REG_DT     as regDt
		, a.UDP_DT     as udpDt
		FROM TB_FS_FDCL a
		WHERE a.USE_YN='Y'
		AND a.FD_TP_ID='${fsTypeId}'
		AND a.FDCL_NM LIKE CONCAT('%','${fsUnitName}','%')
	</select>
	
	<insert id="registerFsUnit" parameterType="com.byung8.mydiet.domain.FitnessUnit">
		INSERT INTO TB_FS_UNIT (
			FDCL_ID
			, FDCL_ENG_NM
			, FDCL_NM
			, FD_TP_ID
			, FD_UNIT_ID
			, UNT_CL_VAL
			, USE_YN
			, UDP_DT
		) VALUES (
			#{fsUnitId}
			, #{fsUnitNameEng}
			, #{fsUnitName}
			, #{fsTypeId}
			, #{bsUnitIdId}
			, #{bsUnitId}
			, #{bsUnitVal}
			, #{fsUnitVal}
			, 'Y'
			, null
		)
	</insert>
</mapper>
